* {
  box-sizing: border-box;
}
hr,
h1 {
  background-color: #2d3945;
}
h1,
.button {
  padding: 1em;
  color: white;
}
h1 {
  margin-top: 0;
}
h2 {
  font-size: 2em;
  color: #2d3945;
}
p,
label,
::placeholder,
select,
.button {
  font-family: "Merriweather", serif;
}
p,
label {
  color: gray;
  font-size: 1.1em;
}
p {
  line-height: 1.6em;
}
.newsletter {
  border-bottom: #2d3945 solid 0.35em;
  padding-top: 0.3em;
  padding-bottom: 2.9em;
  background-color: lightgray;
}
.latest_news,
.form,
.newsletter {
  width: 90%;
  margin: auto;
}
.copyright,
h1,
.newsletter {
  text-align: center;
}
input[type="text"],
input[type="tel"],
input[type="email"],
#state,
textarea,
.button {
  border: 0;
  border-radius: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
.input-box,
textarea {
  width: 100%;
  height: 4em;
  background-color: #eff0f1;
}
textarea {
  height: 8em;
  margin-bottom: 1.7em;
}
::placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 1em;
}
select {
  padding-left: 1em;
  color: rgb(128, 128, 128, 0.5);
}
.break {
  width: 90%;
}
.button {
  background-color: #4ebbb5;
  font-size: 1.5em;
  margin-bottom: 0.9em;
  width: 100%;
}
label {
  display: inline-block;
  margin: 0;
}
.html-news,
.css-news,
.javascript-news,
.html-format,
.plain-format {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.news-label {
  margin-left: 0.8em;
}
.input-box,
.javascript-news,
.plain-format,
.newsletter-heading,
.contact-info,
label {
  margin-bottom: 1em;
}
#zip {
  width: 50%;
  display: block;
}
hr {
  width: 90%;
  color: #2d3945;
  height: 1px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input,
textarea,
select {
  transition-property: background-color;
  transition-duration: 0.5s;
}
input:focus,
textarea:focus,
select:focus {
  background-color: lightsteelblue;
}
textarea::placeholder {
  text-align: left;
  padding-top: 0.75em;
  padding-left: 0.5em;
}
@media (min-width: 768px) {
  fieldset:first-of-type div {
    display: flex;
    align-items: center;
  }
  fieldset:first-of-type input,
  fieldset:first-of-type select {
    flex-basis: 75%;
  }
  fieldset:first-of-type label {
    flex-basis: 25%;
  }
  #zip {
    max-width: 25%;
  }
}
